footer {
  background-color: var(--text-color);
  color: #fff;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1440px;
  padding: 48px 24px 24px;
}

footer .footer a:any-link {
  color: #fff;
  text-decoration: none;
}

footer .footer a:hover {
  text-decoration: underline;
}

footer .footer h2,
footer .footer h3,
footer .footer h4 {
  color: #fff;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

footer .footer ul {
  list-style: none;
  padding: 0;
  margin: 8px 0 24px;
}

footer .footer ul li {
  margin: 6px 0;
}

footer .footer p {
  margin: 0;
  color: rgb(255 255 255 / 70%);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 48px 32px 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}
